@import "tailwindcss";
body {
  background-color: #020617;
  color: white;
  font-family: sans-serif;
}
.main-content-container::-webkit-scrollbar {
  display: none;
}
.sideBar-Container::-webkit-scrollbar {
  display: none;
}
